body{
    margin: 0px;
    padding: 0px;
    background-image: url(https://images.unsplash.com/photo-1523676060187-f55189a71f5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-size: cover;
    background-position: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
}
 login-box{
     height: 400px;
     width: 350px;
     background: rgba(red, green, blue, alpha);
     color: white;
     top: 20px;
     left: 38px;
     position: absolute;
     box-sizing: border-box;
     padding: 40px;
     border-radius: 30px;
 }

 .avr{
     height: 100px;
     width: 100px;
     position: absolute;
     top: -53px;
     left: cals(85%-50%);
 }