

.top{

    text-align: center;
    border: 10px solid white;
    padding: 0px;
    margin: 0px;
    background-color: royalblue;
     

}

.pcolor{
    color: white;
}

button{
    padding: 5px;
    margin: 10px;
    text-align-last: left;
    height: 40px;
    color: gray;


}
.ing{
    background-color: white;
    image-rendering: auto;
    border: 5px solid white;
    display: flex;
    flex-direction: row;
  
}


.one,.two,.three,.four {
   
    width: 300px;
    text-align: center;
    color: white;
    margin: 10px;
    padding: 10px;
 
   

}
.mains{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3561b9;
    height: 250px;
    padding: 10px;
    
}









.SECTIONz,.SECTIONy,.SECTIONm,.SECTIONk,.SECTIONl {
   
    width: 500px;
    text-align: center;
    color: white;
    margin: 10px;
    padding: 10px;
    
}
.

.SECTIONf{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #bd2b2b;
    height: 150px;
    padding: 10px;
    
}






.stylemm{
    background-color: #3561b9;
    height: 250PX;
    width: AUTO;
    
    text-align: center;
    color: white;
     width: 100%;
    border:  #3561b9 solid 10px;
    justify-content: space-around;
   
}
/*add flexbox style*/ 
display: flex !impertant;
    


.boxs{
    width: 200px;
    height: 300px;
    background-color: #3561b9 ;
    margin: 20px;
    box-sizing: border-box;
    font-size: medium;
    display: flex;
    border: 10px solid white;
  

}

.mid{
    display: inline;
}








.mainhead{
    padding: 10px;
    margin: 30px;
    border: lawngreen;
    height: 800px;
    width: 1500px;
    text-align: right;
     

}


.head{
    text-align: center;
    padding: 50px;
    margin: auto;
}
 
.SECTIONB{
    padding: 10PX;
    margin: 40px;
    background-color: rgb(219, 226, 233);
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
    height: 100px;
    width: 400px;
   text-align: justify;
   display: inline flex;
}
.sectionx{
    border: 10px solid grey;
    height: 400px;
    width: 400px;
    overflow: scroll;
   justify-content: right;
}


.sectiond{
    border: 10px solid lightgray;
    padding: 10px;
    margin: 10px;
}
.sectione{
   
    text-align: auto;
    width: 400px;
    height: 400px;
    overflow: scroll;
    margin: 100px;
    padding: 10px;
    border: 10px solid grey;
    justify-content: flex-end;
    
   
    

}

.coloumn1,.coloumn2,.coloumn3,.coloumn4,.coloumn5 {
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
    width: 400px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    

} 

.articlecolumn2{
    padding: 10px;
    margin: 10px;
     display: inline-block ;
    justify-content: space-evenly;
    
    
    
}
    
.coloumn5{
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
    width: 400px;
    padding: 10px;
    margin: 50px;
    display: flex;
    border: 10px solid grey;
    display: inline-block;
    
   
    
}
.se{
    height: 220px;
    width: 350px;
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
    display: inline-block;
    padding: 10px;
    margin: 5px 10px 5px 10px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.sectionnm{
    padding: 10px;
    margin: 10px;
    display: inline-flex ;
   
    
    margin-left: 400px;

}
.asi{
    
    width: 1200px;
    margin-left: 400px;
}



.sec{
        height: 220px;
        width: 350px;
        -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
  
        display: inline-block;
        padding: 10px;
        margin: 10px 10px 5px 10px;
        text-align: center;
    }


.sect{
    height: 220px;
    width: 350px;
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 5px 10px 5px 10px;
    

}
.secti{
    height: 220px;
    width: 350px;
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
  
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 5px 10px 5px 10px;

}
.sectio{
    height: 220px;
    width: 350px;
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
   
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 5px 10px 5px 10px;

}
.sectionm{
    height: 220px;
    width: 350px;
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
    display: inline-block;
    padding: 10px;
    margin: 5px 10px 5px 10px;
   
    text-align: center;

}


.article3{
   
    display: inline-block;
    
}
    
.mainpart{
      padding: top;
    margin: 10px;
      
}

.child{
        height: 500px;
        width: 1000px;
       
        display: inline-block;
        padding: 10px;
        margin: 5px 25px 5px 25px;
}

.child2{
    height: 500px;
        width: 350px;
        padding: 10px;
        display: inline-block;
        margin: 0px 10px 0px 10px;
   
    
}
.border{
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
    padding: 10px;
    margin: 10px;
}



.SECTIONC{
    margin: 30px;
    padding: 20px;
    display: inline-table;
    border: 10px solid grey;
    justify-content: flex-END;
    width: 1800px;
 
}

.image{
    text-align: center;
    padding: 10px;
    margin: 10px;

    
}

.containere{
    background-color: rgb(37, 39, 46);
    padding: 10px;
    margin: 100px;
    font-style: italic;

    color: white;
}
.imagsec{
    text-align: center;
    
}
.end{
    text-align: right;
    color: white;
   
    
}

.start{
    text-decoration: underline;
    text-align: center;
}






.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    text-align: center;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram{
      color: white;
      background-color: rgb(146, 35, 35);
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;}
    
 
    .bar{
        text-align: left;
        word-spacing: 90px;
    }
  

.icons{
    padding: 5px;
    margin: 5px;
   ]




   
    