/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify style-main.css file.

*/

/* Your custom css codes start here: */

.head-font {
	font-family: 'Merriweather', serif;
}
.noori {
    font-family:'Jameel Noori Nastaleeq';
}
.al_mushaf {
    font-family:'Al_Mushaf';
}
.aslam {
    font-family:'Aslam';
}
.ar {
	font-family:ar;
}
.fs-20 {
	font-size: 20px !important;
}
.fs-18 {
    font-size: 18px !important;
}
.fs-16 {
    font-size: 16px;
}
.fs-12 {
    font-size: 12px !important;
}
.bg-theme-colored {
    background-color: #427900 !important;
}
.bg-themeout-colored {
    background-color: #006618 !important;
}
.text-themeout-colored {
   color: #427900 !important;
}
.hvr-bounce-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #006618;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.menuzord-brand img {
    max-height: 52px;
}
.menuzord-brand {
    margin: 10px 30px 0 0;
}
a.underline:hover {
    text-decoration: underline;
}
.text-ellips {
    font-size: 20px;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}
.bg-img {
    /*background-image: url(../images/khuddam/hadith/bg-slide-2.jpg);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    position: inherit;
}
.width_sm {
    width: 80%
}
ul li a#searchtoggl {
    line-height: 73px;
    margin-right: 0;
    padding: 0 14px;
}

/*------------- Search ------------*/

/*input[type=search] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-size: 25px;
    background-image: url(../images/khuddam/search/download.png);
    background-position: 16px 13px;
    background-repeat: no-repeat;
    padding: 12px 10px 12px 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}*/
input[type=search] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    font-size: 16px;
    background-color: white;
    background-size: 18px;
    background-image: url(../images/khuddam/search/download.png);
    background-position: 14px 11px;
    background-repeat: no-repeat;
    padding: 5px 0px 5px 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
form input[type="search"]:focus {
    border-color: #6bbc09;
}

input[type=search]:focus {
    width: 100%;
}
.search-form-wrapper form {
    padding: 0;
    position: relative;
}
.menuzord-menu.menuzord-right {
    /*float: left;*/
}
.p-42 {
    padding: 42px 0 !important;
}
/*------------ Media Query ------------*/
@media (max-width: 900px) {
    .menuzord-responsive .showhide {
        margin: 10px 0 0 0;
    }
    .mar-0 {
        margin: 0;
    }
    .pad-0 {
        padding: 0;
    }
    .menuzord-responsive .menuzord-brand {
        margin: 10px 10px 10px 10px;
        width: 225px !important;
    }
    .padtop-0 {
        padding-top: 0 !important;
    } 
    .padbot-0 {
        padding-bottom: 0 !important;
    }
    .text-res-center {
        text-align: center;
    }
    .bg-img {
        /*background-image: url(../images/khuddam/hadith/bg-slide-2.jpg);*/
        background-position: 96% 10%;
    }
    .padtop-30 {
        padding-top: 30px;
    }
    .padbot-30 {
        padding-bottom: 30px;
    }
    .marbot-0 {
        margin-bottom: 0;
    }
    .fonts-15 {
        font-size: 15px;
    }
    .text-cen {
        text-align: center; 
    }
}
@media only screen and (max-width: 767px) {
    .text-ellips {
        text-align: center;
        font-size: 20px;
    }
    .modal-promo-box {
        max-width: 700px;
        padding: 90px 0px !important    ;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 1025px) {
    .martop-50 {
        margin-top: 50px;
    }
}

.carousel-inner {
    border-radius: 15px !important;
}

.carousel-control.right {
    border-radius: 15px !important;
}

.carousel-control.left {
    border-radius: 15px !important;
}

#carousel-custom .carousel-indicators li img {
    border-radius: 15px !important;
}

#carousel-custom .carousel-indicators li {
    border-radius: 15px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.ur {
    font-family:ar !important;
}
.border-theme-colored, .owl-theme .owl-dots .owl-dot span {
    border-color: #ffffff !important;
}
.footer a {
    color: #bbb;
}
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 1.8;
    filter: alpha(opacity=80);
}
.menuzord-brand {
    cursor: inherit;
}