body{
    margin: auto;
    padding: auto;
    height: auto;
    width: auto;
    background-image: url(https://images.unsplash.com/photo-1523676060187-f55189a71f5e?ixlib=rb-1.2.1&w=1000&q=80);
    background-repeat: no-repeat;
}




.main{
    color: white;
    text-decoration: underline;
    text-align: center;
    margin: 10px auto 10px auto;
    border: 0px solid white;
    padding: 100px;
    font-style: italic;




}
 
button:active{
    background-color: royalblue
}

h1{
    text-shadow: 10px  5px 10px black;
}